header {
    width: 100%;
    min-height: 40px;
}

md-toolbar {
    background-color: transparent;
    color: inherit;
}

.push-right {
  flex: 1 1 auto;
}

.isBlack {
    color: #000000;
}

.isWhite {
    color: #ffffff;
}

a.isBlack {
    color: #000000;
}

a.isBlack:hover {
    color: #000000;
}

a.isBlack:visited {
    color: #000000;
}

a.isBlack:active {
    color: #000000;
}

a.isWhite {
    color: #ffffff;
}

a.isWhite:hover {
    color: #ffffff;
}

a.isWhite:visited {
    color: #ffffff;
}

a.isWhite:active {
    color: #ffffff;
}