<!-- Header -->
<app-header [style.color]="getFontColorOfBodyElements()"></app-header>

<!-- Main content -->
<div class="app-content" [style.color]="getFontColorOfBodyElements()">
  <h1> 
    rgb (
    <input type="number" [(ngModel)]="rgb.r" (blur)="updateButtonBackground(rgb)" maxlength="3"/>
    ,
    <input type="number" [(ngModel)]="rgb.g" (blur)="updateButtonBackground(rgb)" maxlength="3"/>
    ,
    <input type="number" [(ngModel)]="rgb.b" (blur)="updateButtonBackground(rgb)" maxlength="3"/>
    )
    <button md-mini-fab id="update-background-btn" [style.background-color]="getButtonBackgroundColor()" [style.color]="getButtonBackgroundFontColor()" (click)="updateBackgroundColor(rgb)"><i class="material-icons">navigate_next</i></button>
  </h1>
</div>