/* App Content */
.app-content {
    text-align: center !important;
    padding-top: 10%;
}

input {
    width: 60px;
    border: none;
    background: transparent;
    outline: none;
    font: inherit;
    font-size: inherit;
    color: inherit;
    text-align: center;
}

h1 {
    font-weight: 200 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}