/* Header */
header {
    width: 100%;
    min-height: 40px;
    background-color: transparent;
}

/* App Content */
.main {
    text-align: center;
}

md-toolbar {
    background-color: transparent;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    background-color: transparent;
}