/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    background-color: transparent;
}

/* Main Content */
.main-content {
    text-align: center;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    background-color: transparent;
}