<!-- Header -->
<app-header></app-header>

<!-- Main content -->
<div class="app-content">
  <!--<p>Bring this page to life with your favorite <a target="_blank" href="http://htmlcolorcodes.com/color-picker/">hex</a> color!</p>-->
  <h1> 
    <md-input placeholder="" maxlength="8" md-tooltip="Input your favorite hex color!" tooltip-position="below">
      <span md-prefix>&#35; </span>
      <span md-suffix><button md-mini-fab [disabled]="isDisabled"><i class="material-icons">navigate_next</i></button></span>
    </md-input>
  </h1>
</div>