* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

body {
    background-color: rgb(000,150,136); /* TODO: This must be customizable by the user*/
    padding: 0px !important;
    margin: 0px !important;
}